# === Qt / C++ ===

\*.o
*.obj
*.autosave
*.user
*.user.*
*.pro.user*
moc\_*
ui\_*
qrc\_*
\*.qmlc
\*.jsc

# build dirs

build-\*/
bin/
out/
debug/
release/
build-Client-Desktop\_Qt\_5\_12\_12\_MinGW\_64\_bit-Debug/
build-Server-Desktop\_Qt\_5\_12\_12\_MinGW\_64\_bit-Debug/

# QtCreator

*.creator.*
.DS\_Store
